@model IEnumerable<Symphony.faq>

@{
    ViewBag.Title = "faq_view";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<div class="container">
    <br /><br />
    <h2>FAQ'S</h2>
    <br /><br />
    @foreach (var item in Model)
    {



        <h3>
            @Html.DisplayFor(modelItem => item.q)
        </h3>

        <h4>

            @Html.DisplayFor(modelItem => item.a)
        </h4>

        <br />

    }
</div>

<br /><br />